* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    padding: 2rem;
    color: #262729;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr auto 0.5fr;
}

header {
    background-color: moccasin;
    text-align: center;
    padding-bottom: 1.5rem;
}

.nav {
    padding: 1rem;
}

h1 {
    font-style: bold;
    font-weight: 800;
}

.portrait {
    text-align: center;
}

img { 
    width: 40%; 
    height: auto;
}

.rund {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    }


h2 {
    text-decoration: underline;
}


table {
    background-color: gainsboro;
    border: solid black 1px; 
    width: 800px;
    font-weight: 100;
}

th {
    text-align: left;
    padding: 1rem 1rem;
}

th.date {
    width: 10%;
}

th.job {
    width: 30%
}

th.company {
    width: 50%;
}

.linkcontainer {
    display: flex;
    justify-content: space-around;
}

.linkcontainer_item {
    border: solid 1px black;
    padding: 1rem;
    text-align: center;
}

.hobbies-skills {
    display: flex;
    justify-content: flex-start;
}

.hobbies {
    border: solid 1px black;
    padding: auto; 
}

.skills {
    border: solid 1px black;
}







